name: Docker

on:
  workflow_run:
    workflows: [Linux]
    types: [completed]
    branches: [actions]
#  release:
#    types: [published]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    strategy:
      matrix:
        include:
          - name: Linux amd64
            arch: x86_64
            platform: linux/amd64
          - name: Linux Arm64
            arch: aarch64
            platform: linux/arm64

    name: ${{ matrix.name }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          run-id: ${{ github.event.workflow_run.id }}
          name: moonlight-web-${{ matrix.arch }}-unknown-linux-gnu
          path: ./docker/moonlight-web

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}     

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./docker/
          file: ./docker/Dockerfile.action
          platforms: ${{ matrix.platform }}
          tags: ghcr.io/${{ github.repository }}:test-${{ matrix.arch }}-${{ github.run_id }}
          push: false