name: Linux

on: [push, pull_request]

env:
  REGISTRY: ghcr.io

jobs:
  build:
    continue-on-error: true
    strategy:
      matrix:
        arch:
          - runner: ubuntu-latest
            name: x86_64
          - runner: ubuntu-24.04-arm
            name: aarch64

    name: ${{ matrix.arch.name }}
    runs-on: ${{ matrix.arch.runner }}

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: nightly
    - uses: actions/setup-node@v6
      with:
        node-version: 24
    - run: sudo apt-get install clang -y
      

    - name: Build
      run: |
       cargo build --release
       pushd moonlight-web/web-server
       npm install
       npm run build
       mv dist static
       popd

       mv target/release/streamer streamer
       mv target/release/web-server web-server
       mv moonlight-web/web-server/static static


    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: moonlight-web-${{ matrix.arch.name }}-unknown-linux-gnu
        path: |
          streamer
          web-server
          static

  docker:
    name: Docker ${{ matrix.name }}
    needs: build
    runs-on: ubuntu-latest
    if: success()

    strategy:
      matrix:
        include:
          - name: Linux amd64
            arch: x86_64
            platform: linux/amd64
          - name: Linux arm64
            arch: aarch64
            platform: linux/arm64

    steps:
      - uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: moonlight-web-${{ matrix.arch }}-unknown-linux-gnu
          path: ./docker/moonlight-web

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set image name (lowercase)
        run: |
          echo "IMAGE_PREFIX=${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV

      - name: Build Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./docker/
          file: ./docker/Dockerfile.action
          platforms: ${{ matrix.platform }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_PREFIX }}:test-${{ matrix.arch }}-${{ github.run_id }}
          push: true